.section {
    @media (min-width: 320px) and (max-width: 480px) {
        padding: 30px 15px;
    }

    @media (min-width: 481px) and (max-width: 1260px) {
        padding: 45px 30px;
    }

    @media (min-width: 1260px) {
        padding: 60px 0 80px;
    }
}