.btn {
    display: inline-block;
    text-decoration: none;
    padding: 14px 0;
    width: 163px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: $text-color;
    transition: 0.3s;
    cursor: pointer;

    &._dark {
        background-color: $main-color;
        border: 1px solid transparent;

        &:hover {
            background-color: transparent;
            border-color: $main-color;
        }
    }

    &._light {
        background-color: transparent;
        border: 1px solid $main-color;

        &:hover {
            background-color: $main-color;
            border-color: transparent;
        }
    }

    &._shadow {
        box-shadow: 0px 4px 4px rgba(121, 85, 72, 0.1);
    }

    &._long {
        padding: 14px 30px;
        width: max-content;
    }
}