.blog {
    background-color: $bg-light;

    &-item {
        display: grid;
        color: $text-color;
        text-decoration: none;
        box-shadow: 0px 10px 30px rgba(121, 85, 72, 0.1);
        border-radius: 8px;
        border: 10px solid #fff;
        background-color: #fff;
        margin-bottom: 30px;

        &:hover &-img {
            transform: scale(1.1);
        }

        &-photo {
            max-width: 100%;
            border-radius: 8px;
            overflow: hidden;
        }

        &-img {
            max-width: 100%;
            transition: 0.3s;
        }

        &-info {
            padding: 15px 10px;
        }

        &-title {
            font-size: 18px;
            font-weight: 700;
            line-height: 1.2em;
            margin-bottom: 20px;
        }
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .blog {
        padding: 30px 15px 60px;
    
        &-item {
            width: 90%;
            margin: 0 auto 30px;
        }
    }
}

@media (min-width: 481px) {
    .blog {
        padding: 60px 0 110px;
    
        &-items {
            display: flex;
            flex-flow: column wrap;
            align-content: space-between;
            height: 1230px;
        }
    
        &-item {
            width: 256px;
    
            &:nth-child(4n+1) { order: 1; }
            &:nth-child(4n+2) { order: 2; }
            &:nth-child(4n+3) { order: 3; }
            &:nth-child(4n)   { order: 4; }
            
        }
    }
}