.contacts-2 {
    background-color: $bg-light;

    &-title.title {
        text-align: start;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .contacts-2 {
        padding: 30px 15px;
    
        &-img {
            display: none;
        }
    }
}

@media (min-width: 481px) {
    .contacts-2 {
        padding: 70px 0;
        position: relative;

        &-content {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 100px;
        }
    
        &-img {
            position: absolute;
            top: 60px;
            right: 70px;
        }
    }
}