.register-form-main {
  position: relative;
  padding: 40px 0;
}

.register-form-container {
  max-width: 400px;
  padding: 0 15px;
  text-align: center;
}
.react-datepicker-wrapper {
  width: 100%;
  position: relative;
  margin-bottom: 30px;

  & input {
    margin-bottom: 0;
  }
}

.register-form-img {
  top: 80px;
  position: absolute;
  right: 0;
}

.login-form-img {
  width: 450px;
  position: absolute;
  right: 0;
  top: 20px;
}

.form-error {
  color: #FE5656;
  text-align: left;
  margin-bottom: 15px;
  position: relative;
  padding-left: 25px;
  top: -10px;
}

.form-label {
  display: block;
  text-align: left;
  margin-bottom: 15px;

  &.bold {
    font-weight: bold;
  }
}

.form-checkbox {
  margin-right: 15px;
}

.form-field-description {
  font-size: 13px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.modal-close-button {
  background-color: transparent;
  border: transparent;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
}

.select-date {
  display: inline-block;
  text-decoration: none;
  padding: 14px 0;
  width: 163px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #3D3D3D;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  background-color: #FFD251;
  border: 1px solid transparent;
  cursor: pointer;
  margin-bottom: 10px;
}