.partners {
    background-color: $bg-light;

    @media (min-width: 480px) and (max-width: 1200px) {
        padding: 40px 0;
    }

    @media (min-width: 1200px) {
        padding: 100px 0;
    }
}

.content {
    overflow-x: scroll;
}

.list {
    display: flex;
    width: max-content;
    padding: 40px 10px;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 10px solid #fff;
    border-radius: 7px;
    box-shadow: 0 5px 30px 7px #7955481a;
    margin: 0 10px;
}

.img {
    max-width: 100%;
    max-height: 100%;
}

@media (min-width: 320px) and (max-width: 480px) {
    .partners {
        padding: 30px 0;
    }

    .list {
        display: flex;
        width: max-content;
        padding: 23px 10px 30px;
    }

    .item {
        width: calc((100vw - 60px)/2);
        height: calc((100vw - 60px)/2);
        margin: 0 10px;
    }
}

@media (min-width: 480px) {
    .item {
        width: 150px;
        height: 150px;
    }
}