.section {
    background-color: $bg-light;
}

.product {
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 10px 30px rgba(121, 85, 72, 0.1);
    border-radius: 12px;
    overflow: hidden;
}

.img {
    max-width: 100%;
}

.name {
    font-weight: 700;
    line-height: 1.2em;
}

.description {
    font-size: 18px;
    line-height: 1.2em;
}

.features {
    margin-bottom: 35px;

    &-item {
        position: relative;
        text-align: left;
        margin: 0 0 10px 30px;
        line-height: 1.2;

        &::before {
            content: '';
            position: absolute;
            width: 15px;
            height: 15px;
            border: 1px solid $main-color;
            border-radius: 50%;
            top: 2px;
            left: -30px;
        }

        &::after {
            content: '';
            position: absolute;
            width: 6px;
            height: 3px;
            border-left: 2px solid $text-color;
            border-bottom: 2px solid $text-color;
            transform: rotate(-45deg);
            left: -25px;
            top: 7px;
        }
    }
}

.items {
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-bottom: 35px;
}

.price {
    position: relative;
    font-weight: 700;
    margin-right: 38px;
    z-index: 1;

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 8px;
        bottom: -2px;
        left: 4px;
        background-color: $main-color;
        opacity: 0.5;
        z-index: -1;
    }
}

.counter {
    display: flex;
    align-items: center;

    &-btn {
        position: relative;
        display: inline-block;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        border: 1px solid $main-color;
        box-shadow: 0px 4px 4px rgba(121, 85, 72, 0.04), 0px 4px 16px rgba(121, 85, 72, 0.08);
        cursor: pointer;
        transition: 0.3s;

        &::before {
            position: absolute;
            display: inline-block;
            line-height: 0;
            transition: 0.3s;
        }

        &::before {
            content: '-';
            font-size: 40px;
            top: 11px;
            left: 7px;
        }

        &._plus::before {
            content: '+';
            font-size: 32px;
            top: 14px;
            left: 8px;
        }

        &:hover {
            background-color: $main-color;

            &::before {
                color: #fff;
            }
        }
    }

    &-value {
        font-size: 18px;
        font-weight: 500;
        color: $text-color;
        min-width: 30px;
        margin: 0 5px;
        text-align: center;
    }
}

.buy {
    width: 100%;

    @media (min-width: 481px) {
        max-width: 300px;
    }
}

.input {
    height: 46px;
    padding: 14px 27px;
    background-color: #fff;
    border: 1px solid $main-color;
    box-shadow: 0px 4px 4px rgba(121, 85, 72, 0.04), 0px 4px 16px rgba(121, 85, 72, 0.08);
    border-radius: 4px;
    margin-bottom: 25px;
    
    &:focus {
        outline: none;
    }
}

.input, .btn {
    width: 100%;
}

@media (min-width: 320px) and (max-width: 480px) {
    .section {
        padding: 30px 15px 80px;
    }

    .info {
        padding: 35px 25px 45px;
    }
}

@media (min-width: 481px) and (max-width: 900px) {
    .section {
        padding: 45px 30px 110px;
    }

    .info {
        padding: 40px 33px 50px;
    }
}

@media (min-width: 320px) and (max-width: 900px) {
    .img {
        width: 100%;
    }

    .name {
        font-size: 26px;
        margin-bottom: 30px;
    }

    .description {
        margin-bottom: 35px;
    }

    .price {
        font-size: 24px;
        margin-right: 25px;
    }
}

@media (min-width: 900px) {
    .section {
        padding: 80px 30px 140px;
    }

    .product {
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }

    .price {
        font-size: 22px;
    }
}

@media (min-width: 900px) and (max-width: 1260px) {
    .info {
        padding: 35px 40px;
    }

    .name {
        font-size: 26px;
        margin-bottom: 20px;
    }

    .description {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .features {
        margin-bottom: 20px;
    }

    .items {
        margin-bottom: 20px;
    }

    .input {
        margin-bottom: 16px;
    }
}

@media (min-width: 1260px) {
    .info {
        padding: 40px 100px 40px 60px;
    }

    .name {
        font-size: 28px;
        margin-bottom: 35px;
    }

    .description {
        margin-bottom: 35px;
    }
}